<assembly>
	<id>plugin</id>
	<formats>
		<format>zip</format>
	</formats>
	<fileSets>
		<fileSet>
			<directory></directory>
			<outputDirectory></outputDirectory>
			<includes>
				<include>README*</include>
			</includes>
			<filtered>true</filtered>
		</fileSet>	
		<fileSet>
			<directory></directory>
			<outputDirectory></outputDirectory>
			<includes>
				<include>LICENSE*</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>src/main/webapp/js</directory>
			<outputDirectory>PatientDataExport</outputDirectory>
			<includes>
				<include>*.js</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>src/main/webapp/images</directory>
			<outputDirectory>PatientDataExport/assets/images</outputDirectory>
			<includes>
				<include>*</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>src/main/webapp/html</directory>
			<outputDirectory>PatientDataExport/assets</outputDirectory>
			<includes>
				<include>injected_screens.html</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>src/main/webapp/css</directory>
			<outputDirectory>PatientDataExport/assets</outputDirectory>
			<includes>
				<include>PatientDataExport.css</include>
			</includes>
		</fileSet>
	</fileSets>
</assembly>
