/*** CSS for main plugin wrapper ***/

DIV#DataDownloader-mainDiv {
	padding: 0px;
}



/*** CSS for tab background ***/

DIV#DataDownloader-TABS DIV.yui-content {
	background: #FFF;
}

DIV#DataDownloader-TABS DIV.DataDownloader-MainContent {
    background:#FFF;
    border:solid #63758C;
    border-width:1px 0;
    width: 100%;
    height:100%;
    overflow-y: scroll;
}
DIV#DataDownloader-TABS DIV.DataDownloader-MainContentPad {
    padding:10px 10px;
}



/*** CSS for the Specify Data tab ***/
DIV#DataDownloader-mainDiv DIV.DataDownloader-stepContent {
	border: 1px solid #42558c;
	padding: 6px;
	background-color: #dbe8ff;
}

DIV#DataDownloader-mainDiv LABEL {
	color: #666666;
	font-weight: bold;
	padding: 1px 0;
	vertical-align: middle;
	width: auto;
}
DIV#DataDownloader-mainDiv #DataDownloader-rowdim {
	width: auto;
	float: left;
	margin-left: 5px;
}
DIV#DataDownloader-mainDiv #DataDownloader-configTable {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 5px;
}
DIV#DataDownloader-mainDiv #DataDownloader-configTable TR {
	height: 50px;
	border-top: 1px double black;
	border-bottom: 1px double black;
}
DIV#DataDownloader-mainDiv #DataDownloader-configTable #DataDownloader-headerRow {
	height: auto;
	border: none;
}
DIV#DataDownloader-mainDiv TD.deleteBtn {
	width: 40px;
}
DIV#DataDownloader-mainDiv TD.dispfmt {
	padding-left: 10px;
	width: 150px;
}
DIV#DataDownloader-mainDiv TD.columnNameCell {
	width: 150px;
}
DIV#DataDownloader-mainDiv #DataDownloader-configTable TD.lbl {
	color: #666666;
	font-weight: bold;
	padding: 6px 0;
	vertical-align: middle;
	width: auto;
}
DIV#DataDownloader-mainDiv #DataDownloader-configTable DIV.options {
	padding-left: 50px;
}
DIV#DataDownloader-mainDiv #DataDownloader-configTable LABEL.aggMargin {
	margin-right: 10px;
}
DIV#DataDownloader-mainDiv DIV.droptrgtlbl {
    padding: 6px;
    width:80px;
    float: left;
    font-weight:bold;
    color:#666;
}
DIV#DataDownloader-mainDiv DIV.droptrgtInit {
	padding: 10px;
	background: #DEEBEF;
	text-align:center;
	border: 1px solid #63758C;
	width:300px;
	overflow:hidden;
	white-space:nowrap;
}
DIV#DataDownloader-mainDiv TD SPAN.droptrgtInit {
	border: 1px dashed gray;
	color: gray;
	font-weight: bold;
	padding: 3px 85px 3px 95px;
}
DIV#DataDownloader-mainDiv TD.droptrgtCell {
	width: 300px;
}
DIV#DataDownloader-mainDiv #DataDownloader-globalOptions LABEL {
	padding-left: 6px;
}
DIV#DataDownloader-mainDiv DIV.droptrgt {
	padding: 10px;
	background: #DEEBEF;
	font-weight: bold;
	text-align:left;
	border: 1px solid #63758C;
	width:300px;
	overflow:hidden;
	white-space:nowrap;
}
DIV#DataDownloader-mainDiv #DataDownloader-PRSDROP {
	padding: 5px 10px;
	overflow:hidden;
	white-space:nowrap;
	width:300px;
}
DIV#DataDownloader-mainDiv droptrgt .concptItem {
	padding: 5px 10px;
	overflow:hidden;
	white-space:nowrap;
	display:block;
	color:#000;
	text-decoration:none;
}
DIV#DataDownloader-mainDiv droptrgt .concptItem:hover {
	background-color:#FCC;
}
DIV#DataDownloader-mainDiv droptrgt .concptDiv {
	height:1px;
	overflow:hidden;
	background-color:#63758C;
}
DIV#DataDownloader-mainDiv #DataDownloader-DeleteMsg {
	font-size:11px;
	margin: 2px 0 0 90px;
	display:none;
}

/*** CSS for the View Results tab ***/
FORM#DataDownloader-Form {
	display: inline;
}
DIV#DataDownloader-TABS DIV.results-directions {
	padding: 10px;
	text-align:left;
}
DIV#DataDownloader-TABS DIV.results-working {
	margin:10px;
	text-align:left;
}
DIV#DataDownloader-TABS DIV.results-empty {
	margin:10px;
	text-align:left;
}
DIV#DataDownloader-TABS DIV.results-finished {
    height: 100%;
}
DIV#DataDownloader-TABS DIV.results-text {
    margin-top:10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 3em;
}
DIV#DataDownloader-mainDiv DIV#DataDownloader-InfoPDO {
    margin-left: 10px;
    padding-bottom: 30px;
    margin-right: 10px;
}
DIV#DataDownloader-mainDiv DIV#DataDownloader-InfoPDO DIV#DataDownloader-Data {
    height: 100%;
    overflow: auto;
}
DIV#DataDownloader-mainDiv DIV#DataDownloader-InfoPDO DIV#DataDownloader-Data TABLE {
	margin:0 10px 10px 10px;
	border-collapse:collapse;
}
DIV#DataDownloader-mainDiv DIV#DataDownloader-InfoPDO DIV#DataDownloader-Data TABLE TH {
	width:150px;
	border:solid 1px #63758C;
	background-color:#CEDBEF;
	padding:5px;
}
DIV#DataDownloader-mainDiv DIV#DataDownloader-InfoPDO DIV#DataDownloader-Data TABLE TD {
	border:solid 1px #63758C;
	background-color:#DEEBEF;
	padding:5px;
}
DIV#DataDownloader-mainDiv DIV#DataDownloader-InfoPDO .InfoPDO-Request {
	padding:0px;
}
DIV#DataDownloader-mainDiv DIV#DataDownloader-InfoPDO .InfoPDO-Response {
	padding:0px;
}
DIV#DataDownloader-mainDiv DIV#DataDownloader-InfoPDO .originalXML {
	height:150px;
	overflow:hidden;
	padding:0px;
	margin:0px;
}
DIV#DataDownloader-mainDiv DIV#DataDownloader-InfoPDO TABLE TD DIV PRE {
	margin:0px;
	width:300px;
	height:140px;
	display:block;
	overflow:scroll; 
	padding:5px;
}

/*** CSS for the Plugin Help tab ***/

DIV#DataDownloader-TABS H1 {
	margin:0 0 10px 0;
	font-size:16px;
	color:#42558C;
	font-weight:bold;
}
DIV#DataDownloader-TABS H2 {
	margin:10px 0 10px 0;
	font-size:13px;
	color:#42558C;
	font-weight:bold;
}
DIV#DataDownloader-TABS HR {
	margin:0;
}
